@page
@model HillerødRazorPage.Pages.EventsPage.GetAllEventsModel
@{
}
<h1>Begivenheder</h1>

<table class="table table-bordered table-hover table-striped">
	<thead>
		<tr>
			<th>
				Begivenhed Id
			</th>
			<th>
				Begivenhed Navn
			</th>
			<th>
				Begivenheds Tidspunkt
			</th>
			<th>
				Beskrivelse
			</th>
			
		</tr>
	</thead>
	<tbody>
		@if (Model.Events.Values != null)
		{
			foreach (var eve in Model.Events.Values)
			{
				<tr>
					<td>
						@eve.EventId
					</td>
					<td>
						@eve.EventName
					</td>
					<td>
						@eve.DateOfEvent
					</td>
					<td>
						@eve.DescriptionOfEvent
					</td>
					
					<td>
						@eve.ParticipantToString()
					</td>
					<td>
						
					</td>
					
				</tr>
			}
		}
	</tbody>
</table>

<p>
	<a class="btn btn-primary" asp-page="CreateSub"> Lav et nyt Medlemskab </a>
</p>